@import "ui.scss";

//переменные
@import "variablestyle.scss";
//шаблоны
@import "templatestyle.scss";
//миксины
@import "mixinstyle.scss";

// Файл обнуляющих стилей
@import "nullstyle.scss";

//========================================H=E=A=D=E=R========================================================================================================
@import "_header.scss";
//==================================================S=I=D=E=B=A=R======================================================================================================

//===================M=A=I=N================================================================================================================================================

//=====DIFFICULT====================================================================================================================================================================
.main-screen {

	// .main__difficult

	&__difficult {
		position: relative;
		z-index: 10;
		@include adaptiv-value("margin-top", 380, 240, 1);
	}
}

.difficult {

	// .difficult__container

	&__container {}

	// .difficult__body

	&__body {}

	// .difficult__text-block

	&__text-block {
		@include adaptiv-value("margin-bottom", 160, 60, 1);
	}

	// .difficult__title

	&__title {
		font-family: 'Roboto';
		font-weight: 400;
		font-size: 48px;
		@include adaptiv-value("font-size", 56, 40, 1);
		color: #FFFFFF;
		margin: 0px 0px 16px 0px;
	}

	// .difficult__sub-title

	&__sub-title {
		font-family: 'Roboto';
		font-weight: 400;
		font-size: 28px;
		line-height: 33px;
		color: #FFFFFF;
		margin: 0px 0px 50px 0px;
	}

	// .difficult__buttons

	&__buttons {
		display: flex;
		margin: 0px 0px 20px 0px;

		@media (max-width: 600px) {
			flex-direction: column;
		}
	}

	// .difficult__button

	&__button {
		&:not(:last-child) {
			margin: 0px 20px 0px 0px;
		}

		@media (max-width: 600px) {
			&:not(:last-child) {
				margin: 0px 0px 20px 0px;
			}
		}
	}

	// .difficult__text

	&__text {
		span {
			color: #ED7173;
		}
	}

	// .difficult__columns

	&__columns {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		justify-content: center;
		align-items: center;
		padding: 0px 0px 50px 0px;
		gap: 30px;

		@media (max-width: 320px) {
			gap: 10px;
		}
	}

	// .difficult__column

	&__column {
		border: 2px solid #FFFFFF;
		border-radius: 4px;
		background-color: transparent;
		display: grid;
		grid-template-rows: 1fr;
		grid-auto-flow: row;

		@media (max-width: 320px) {
			background-color: #fff;
		}
	}

	// .difficult__item

	&__item {
		@media (min-width: 320px) {
			display: grid;
			grid-auto-flow: row;
			justify-content: center;
			align-items: center;
			text-align: center;
			padding: 16px 20px;
			grid-template-rows: 1fr 1fr;
		}

		@media (max-width: 320px) {
			display: flex;
			justify-content: start;
			padding: 10px 20px;
			align-items: center;
		}
	}
}

.item-difficult {

	// .item-difficult__image

	&__image {
		margin: 0px 0px 14px 0px;

		@media (max-width: 320px) {
			filter: brightness(0);
			margin: 0px 30px 0px 0px;
		}
	}

	// .item-difficult__title

	&__title {
		font-weight: 400;
		font-size: 18px;
		line-height: 21px;
		text-align: center;
		color: #FFFFFF;

		@media (max-width: 320px) {
			color: #000;
		}
	}
}

//=====ABOUT===============================================================================================================================================================
.main {

	// .main__about

	&__about {
		@include adaptiv-value("margin-top", 60, 40, 1);
	}
}

.about {

	// .about__container

	&__container {}

	// .about__body

	&__body {
		display: grid;
	}

	// .about__title

	&__title {
		text-align: center;
		margin: 0px 0px 10px 0px;
	}

	// .about__sub-title

	&__sub-title {
		text-align: center;
		margin: 0px 0px 90px 0px;
	}

	// .about__columns

	&__columns {
		display: grid;


		@media (min-width: 767px) {
			grid-template-columns: 1fr 1fr;
		}

		@media (max-width: 767px) {
			@include adaptiv-value("padding-left", 30, 15, 1);
		}

		gap: 70px;
	}

	// .about__column

	&__column {}

	// .about__item

	&__item {
		position: relative;
	}
}

.item-about {

	// .item-about__decor

	&__decor {
		font-size: 100px;
		font-weight: 700;
		color: #E7E7E7;
		line-height: 117%;
		position: absolute;
		top: -70px;
		left: -30px;
		z-index: -1;
	}

	// .item-about__text

	&__text {}
}

//=====BENEFITS=======================================================================================================================================================================
.main {

	// .main__benefits

	&__benefits {
		position: relative;
		margin: 50px 0px 0px 0px;
	}
}

.benefits {

	// .benefits__image

	&__image {
		position: absolute;
		padding: 0px 0px 30% 0px;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;

	}

	// .benefits__container

	&__container {}

	// .benefits__body

	&__body {
		position: relative;
		padding: 45px 0px;
		display: grid;

	}

	// .benefits__title

	&__title {
		font-family: 'Roboto';
		font-weight: 700;
		font-size: 54px;
		line-height: 63px;
		text-align: center;
		color: #FFFFFF;
		margin: 0px 0px 10px 0px;
	}

	// .benefits__sub-title

	&__sub-title {
		font-family: 'Arial';
		font-weight: 400;
		font-size: 20px;
		line-height: 23px;
		text-align: center;
		color: #FFFFFF;
		margin: 0px 0px 60px 0px;
	}

	// .benefits__columns

	&__columns {
		align-self: end;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

		gap: 10px;
	}

	// .benefits__column

	&__column {
		background-color: #fff;
		border-radius: 4px;
	}

	// .benefits__item

	&__item {
		@media (max-width: 439px) {
			display: flex;
			padding: 13px 17px;
			align-items: center;
		}

		padding: 40px 10px;
		text-align: center;
	}
}

.item-benefits {

	// .item-benefits__image

	&__image {
		margin: 0px 0px 30px 0px;

		@media (max-width: 439px) {
			margin: 0px 19px 0px 0px;
		}
	}

	// .item-benefits__text

	&__text {
		font-weight: 400;
		font-size: 16px;
		line-height: 18px;
		color: #252525;
	}
}

//=======SERVICES=====================================================================================================================================================================
.main {

	// .main__services

	&__services {
		@include adaptiv-value("margin-top", 400, 100, 1);
	}
}

.services {

	// .services__container

	&__container {}

	// .services__body

	&__body {
		display: grid;
	}

	// .services__title

	&__title {
		text-align: center;
		margin: 0px 0px 10px 0px;
	}

	// .services__sub-title

	&__sub-title {
		text-align: center;
		margin: 0px 0px 60px 0px;
	}

	// .services__columns

	&__columns {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
		gap: 20px;
		margin: 0px 0px 70px 0px;
		grid-auto-rows: 1fr;
	}

	// .services__column

	&__column {
		border: 2px solid #D5D5D5;
		border-radius: 4px;
		display: grid;
		grid-auto-flow: row;


		@media (any-hover: hover) {

			transition: all 0.8s ease 0s;

			&:hover {
				border: 2px solid #ED7173;
				transition: all 0.8s ease 0s;
				background-color: #ED7173;
			}

		}
	}

	// .services__item

	&__item {
		display: grid;
		grid-auto-flow: row;

	}

	&__button {
		justify-self: center;
		font-weight: 400;
		font-size: 16px;
		line-height: 112%;
		color: #252525;
		text-align: center;
		border: 2px solid #FFFFFF;
		border-radius: 4px;
		background-color: transparent;
		padding: 13px 37px;
		border: 2px solid #D4D4D4;

		@media (any-hover: hover) {

			transition: all 0.8s ease 0s;

			&:hover {
				color: #fff;
				border: 2px solid #ED7173;
				transition: all 0.8s ease 0s;
				background-color: #ED7173;
			}

		}
	}
}

.item-services {

	// .item-services__image

	&__image {
		position: relative;
		padding: 83% 0px 0px 0px;


		img {
			position: absolute;
			top: 0;
			left: 50%;
			transform: translate(-50%, 0);
			width: 100%;
			height: 100%;
			object-fit: cover;
			text-align: center;
		}
	}

	// .item-services__text

	&__text {
		padding: 14px 10px;
		text-align: center;
		font-weight: 400;
		font-size: 16px;
		line-height: 112%;
		color: #252525;
	}
}

//==============REVIEWS=============================================================================================================================================
.main {

	// .main__reviews

	&__reviews {
		position: relative;
		margin: 60px 0px 0px 0px;
	}
}

.reviews {

	// .reviews__image

	&__image {
		z-index: -1;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	// .reviews__container

	&__container {}

	// .reviews__body

	&__body {
		position: relative;
		padding: 45px 0px;
	}

	// .reviews__title

	&__title {
		margin: 0px 0px 10px 0px;
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 700;
		font-size: 30px;
		line-height: 35px;
		text-align: center;
		color: #FFFFFF;
	}

	// .reviews__sub-title

	&__sub-title {
		font-weight: 400;
		font-size: 14px;
		line-height: 16px;
		text-align: center;
		color: #FFFFFF;
		margin: 0px 0px 30px 0px;
	}

	// .reviews__columns

	&__columns {
		//width: 100%;
		position: relative;
		overflow: hidden;
		padding: 0px 30px;
	}

	// .reviews__slides

	&__slides {
		//overflow: hidden;
		display: grid;
		//grid-template-columns: 1fr 1fr;

	}

	// .reviews__column

	&__column {}

	// .reviews__item

	&__item {}
}

.item-reviews {

	// .item-reviews__image

	&__image {
		position: relative;
		padding: 30% 0px 0px 0px;


		img {
			border-radius: 4px;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}

//стрелки свайпера

.reviews__columns .swiper-button-next {
	position: absolute;
	right: -4px;
	top: 50%;


	&:after {
		color: #fff;
		font-size: 26px;
	}
}

.reviews__columns .swiper-button-prev {
	position: absolute;
	left: -4px;
	top: 50%;


	&:after {
		color: #fff;
		font-size: 26px;
	}
}






//===========EXAMPLE=================================================================================================================================================================
.main {

	// .main__example

	&__example {
		@include adaptiv-value("margin-top", 60, 40, 1);
	}
}

.example {

	// .example__container

	&__container {}

	// .example__body

	&__body {
		display: grid;
	}

	// .example__title

	&__title {
		text-align: center;
		margin: 0px 0px 10px 0px;
	}

	// .example__sub-title

	&__sub-title {
		text-align: center;
		margin: 0px 0px 60px 0px;
	}

	// .example__columns

	&__columns {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
		justify-content: center;
		gap: 20px;
		margin: 0px 0px 60px 0px;
	}

	// .example__column

	&__column {}

	// .example__item

	&__item {}

	// .example__button

	&__button {
		justify-self: center;
		font-weight: 400;
		font-size: 16px;
		line-height: 112%;
		color: #252525;
		text-align: center;
		border: 2px solid #FFFFFF;
		border-radius: 4px;
		background-color: transparent;
		padding: 13px 37px;
		border: 2px solid #D4D4D4;

		@media (any-hover: hover) {

			transition: all 0.8s ease 0s;

			&:hover {
				color: #fff;
				border: 2px solid #ED7173;
				transition: all 0.8s ease 0s;
				background-color: #ED7173;
			}

		}
	}
}

.item-example {

	// .item-example__image

	&__image {
		position: relative;
		padding: 0px 0px 100% 0px;

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}

//============PAGETWO================================================================================================================================================================
//==========SERVICE==================================================================================================================================================================
.main {

	// .main__service

	&__service {
		margin: 180px 0px 90px 0px;
	}
}

.service {

	// .service__container

	&__container {}

	// .service__body

	&__body {
		display: grid;
	}

	// .service__title

	&__title {
		margin: 0px 0px 10px 0px;
		text-align: center;
	}

	// .service__text

	&__text {
		margin: 0px 0px 10px 0px;
		text-align: center;
	}

	// .service__sub-title

	&__sub-title {
		margin: 0px 0px 60px 0px;
		text-align: center;
	}

	// .service__columns

	&__columns {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
		gap: 20px;
		grid-auto-rows: 1fr;
	}

	// .service__column

	&__column {
		border: 2px solid #D4D4D4;
		border-radius: 4px;
		background-color: #fff;
		position: relative;
	}

	// .service__item

	&__item {
		display: grid;
		padding: 22px 22px 40px 22px;
	}
}

.item-service {

	// .item-service__body

	&__body {}

	// .item-service__title

	&__title {
		margin: 0px 0px 25px 0px;
		position: relative;

		&:before,
		&::after {
			content: '';
			background-color: #252525;
			height: 2px;
			position: absolute;
			top: 50%;
			transform: translate(0, -50%);
			right: 0;
			width: 12px;
		}

		&:before {
			top: 4px;
			transform: rotate(45deg);
		}

		&:after {
			bottom: 6px;
			transform: rotate(-45deg);
		}
	}

	// .item-service__image

	&__image {
		position: relative;
		padding: 0px 0px 75% 0px;

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}

//При наведении
.service {

	// .service__column

	&__column {
		position: relative;
	}

	// .service__item

	&__item {
		padding: 22px 22px 35px 22px;
	}
}

.column-red {
	border: 2px solid #ED7173;
	display: none;

	&.active {
		display: block;
		margin: 0px 0px 0px -12px;
	}

}

.item-service {

	// .item-service__body

	&__body {
		display: grid;
	}

	// .item-service__list

	&__list {
		display: grid;
		gap: 16px;
		margin: 0px 0px 28px 0px;
	}

	// .item-service__point

	&__point {
		font-weight: 400;
		font-size: 16px;
		line-height: 112%;
		color: #252525;
		padding: 0px 0px 0px 13px;
		position: relative;

		&:before {
			content: '';
			position: absolute;
			top: 6px;
			//	transform: translate(0, -50%);
			left: 0;
			width: 8px;
			height: 8px;
			border-radius: 50%;
			background-color: #252525;
		}
	}

	// .item-service__other

	&__other {
		margin: 0px 0px 40px 0px;
		font-weight: 400;
		font-size: 16px;
		line-height: 112%;
		color: #252525;
		position: relative;
		padding: 0px 0px 0px 28px;

		&:before {
			content: '';
			position: absolute;
			top: 50%;
			transform: translate(0, -50%);
			left: 0;
			width: 23px;
			height: 23px;
			background: url('../img/pageTwo/ico.svg')0 0 / cover no-repeat;
		}
	}

	// .item-service__button

	&__button {
		font-weight: 400;
		font-size: 16px;
		line-height: 112%;
		color: #252525;
		justify-self: center;
	}
}

//============================================================================================================================================================================

//============================================================================================================================================================================

//============================================================================================================================================================================

//============================================================================================================================================================================

//============================================================================================================================================================================



//========================================F=O=O=T=E=R===========================================================================================================================
@import "_footer.scss";